body {
    font-family: 'Noto Sans', sans-serif;
  }

 
.centered {
    margin: auto;
    text-align: center;
  }

  .button-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .info-table {
    margin: 0 auto;
    border-collapse: collapse;
  }

  .info-table td {
    text-align: left; 
  }

#placeData {
    float: left;
    width: 30%;
}


#map {
    float: right;
    height: 800px;
    width: 70%;
}

.gm-style-iw * {
    display: block;
    width: 100%;
}

.gm-style-iw h4, .gm-style-iw p {
    margin: 0;
    padding: 0;
}

.gm-style-iw a {
    color: #4272db;
}